<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KEIHappiness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63CDB3AC1BE1D04400000410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63CDB3C01BE1D04400000410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63CDB3CB1BE1D04400000410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
